<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="daily_report.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="daily_report.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <daily_report.Settings1>
            <setting name="output_dir_path" serializeAs="String">
                <value>hoge</value>
            </setting>
        </daily_report.Settings1>
        <daily_report.Properties.Settings>
            <setting name="Setting" serializeAs="String">
                <value />
            </setting>
            <setting name="output_dir_path" serializeAs="String">
                <value />
            </setting>
        </daily_report.Properties.Settings>
    </userSettings>
</configuration>